
.cv-preview{
  width: 800px;
}
.cv-about{
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
  align-items: flex-start;
  box-sizing: border-box;
}
.cv-about>div{
  max-width: 50%;
}

.cv-about img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  float: left;
}

.cv-summary{
  padding: 20px;
  text-align: justify;
}

.exp-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.exp-child1{
  max-width: 300px;
  text-align: right;
}

.exp-child2{
  max-width: calc(100%-300px);
  text-align: left;
}


.edu-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.edu-child1{
  max-width: 300px;
  text-align: right;
}
.edu-child2{
  max-width: calc(100%-300px);
  text-align: left;
}
